body {
    color: red;
}

.white-background {
    background-color: white;
}

.black-background {
    background-color: black;
}

.bottom {
    display: none;
}

h1 {
    cursor: pointer;
    color: #0088cc;
}

h1:hover {
    text-decoration: underline;
}
